*{
    text-align: center;
}
#mainTopic{
    color: blue;
}
h1,h2,h3,h4,h5.h6{
    font-family: Georgia;
}
.para{
    color: white;
    background-color: cornflowerblue;
}
div button{
    color: azure;
    background-color: purple;
}
div button:hover{
    color: blue;
    background-color: yellow;
}
p:nth-of-type(odd){
    color: yellow;
}
h1::first-letter{
    color: red;
}
input[type='checkbox']:checked+label{
    color: darkgreen
}